body {
  background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image:-webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, #E4E4E4),
      color-stop(0.51, white)
  );
  background-attachment:fixed;
  color: #5f5f5f;
}

section {
  padding-top: 300px;
  padding-left: 30px;
}

.test-section {
  padding-top: 100px;
}

.test-section-stdout {
  display: none;
  margin: 0;
  padding: 20px 30px;
  line-height: 22px;
}

h1 {
  font-size: 80px !important;
  padding-bottom: 20px;
}

.cartridge {
  padding: 30px;
  overflow: hidden;
}

.cartridge-image {
  width: 300px;
  /*-webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);*/
}

.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.applySample-section-close-button {
  position: fixed;
  top: 20px;
  right: 20px;
}


.applySample-section, .test-section, .cartridge {
  display: none;
}

.test-section-toggle {
  position: fixed;
  bottom: 20px !important;
  right: 20px !important;
}

.test-section-debug-toggle {
  position: fixed;
  bottom: 20px !important;
  right: 60px !important;
}
.stderr {
  color: red;
}
